.wrapper-dialog{
    border: 1px solid black;
}

.wrapper-dialog .header{
    align-self: flex-start;
    margin-left: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper-dialog .header img{
    width: 50px;
    height: 45px;
}

.wrapper-dialog .text{
    width: 90%;
    margin-left: 4%;
    margin-bottom: 2.5em;
}

.wrapper-dialog .buttons{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5em;
    margin-right: 2em;
}

.wrapper-dialog .buttons button{
    border: none;
    border-radius: 0.25em;
    padding: 0.75em 1em 0.75em 1em;
    cursor: pointer;
}

.wrapper-dialog .delete{
    background-color: red;
    color: white;
    margin-right: 0.5em;
}

.wrapper-dialog .cancel{
    color: grey;
}