.wrapper-form{
    border: 1px solid black;
    padding: 0.5em;
}

.wrapper-form form{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper-form form .form-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0 0.5em 0;
}

.wrapper-form form .form-item input{
    width: 95%;
    height: 1.5em;
    align-self: center;
    margin: 0;
}

.wrapper-form form .button{
    align-self: flex-end;
}

.wrapper-form form .button input{
    padding: 0.4em 1em 0.4em 1em;
    cursor: pointer;
}

.wrapper-form .error{
    color: red;
}