.wrapper-list table{
    width: 800px;
    border-collapse: collapse;
}

.wrapper-list .first{
    text-align: left;
}

.wrapper-list .last{
    text-align: right;
}

.wrapper-list thead tr{
    border-bottom: 2px solid black;
}

.wrapper-list td{
    padding: 0.5em 0 0.5em 0;
}

.wrapper-list .icon{
    width: 30px;
    height: 30px;
}

.wrapper-list .edit{
    width: 28px;
    height: 27px;
}

.wrapper-list .create{
    width: 35px;
    height: 35px;
}

.wrapper-list .create_link{
    width: 0;
    height: 0;
}

.wrapper-list img{
    cursor: pointer;
}